/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    overflow: auto;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  ul{
      list-style: none;
  }
/* ---------------------------------- */
.nav-bar{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    max-height: max-content;
    height: 59px;
  }
.nav-bar ul{
  width: 100%;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.nav-bar li{
  padding: 1em 2em;
  transition: background-color 0.3s;
}
.nav-bar li:hover{
  background-color: #BFBFBF;
  transition: background-color 0.3s;
}
.nav-bar img{
  padding: 0.8em;
  max-width: 100px;
}

.home-container h1{
  text-align: center;
  margin: 2em 5% 0.5em 5%; 
  font-size: 2rem;
}
.tweets{
  display: block;
}
.tweets div{
  display: flex;
  justify-content: center;
  margin: 0 5%;
}
.tweets div *{
  padding: 0;
  margin: 0;
}

.cards{
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spotify-card{
  width: 100%;
  height: 100%;
  max-width: 900px;
  min-height: 337px;
}
.gallery-card{  
  width: 100%;
  max-width: 900px;
  margin-top: 5%;
  transition: transform 0.5s;
}
.gallery-card:hover{
  transition: transform 0.5s;
  transform: scale(1.04);
} 

.page-ending{
  text-align: center;
  background-color: #000000;
  padding: 2rem 0;
}

.nav-footer {
  color: white;
}
.nav-footer ul {
  padding: 0;
}
.nav-footer li {
  padding: 0;
  margin: 1rem 0;
}
.nav-footer a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: color 0.3s;
}
.nav-footer a:hover, a:active{
  color: #949494;
  transition: color 0.3s;
}

#note{
  margin: 2rem;
}
.media-buttons{
  display: flex;
  justify-content: center; 
}
/* Icons */
.fab{
  margin: 0 5%;
  padding: 10px;
  color: white;
  font-size: 2rem;
  transition: color 0.4s;
}
.fab:hover{
  color: #949494;
  cursor: pointer;
  transition: color 0.3s;
}

.credits{
  margin-top: 2rem;
  color: white;
  font-size: 0.8rem;
}




/* .body-header{
  height: calc(0.79 * 100vw);
  background: no-repeat url("../images/dncewhite.jpg");
  background-size: 100%;
  background-position: top center;
}

#spacetop{
  height: 1px;
}

.nav-bar{
  position: static;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 3% 2%;
    font-size: 1em;
    max-height: 100px;
  }
.nav-bar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;  
  justify-content: flex-end;
}
.nav-bar li{
  padding: 1em 2em;
}
.nav-bar li:hover{
  background-color: #BFBFBF;
}
.nav-bar img{
  padding: 15px;
  max-width: 100px;
}

.home-container{
    display: flex;
    flex-direction: column;    
}

.big-text{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 20rem;

}
.big-text h1{
  font-size: 5em;
}

.home-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

/* .card{  
  transition: transform 0.5s;
  margin: 2rem;
  width: 100%; */
  /* La sombra linda */
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
/* }
.spotify-card:hover{
  transition: transform 0.5s;
  transform: scale(1.04);
}
.gallery-card:hover{
  transform: scale(1.04);
  filter: brightness(50%); 
  transition: transform 0.5s, filter 0.5s;
}
.spotify-card iframe{
  width: 100%;
  height: 100%;
}
.gallery-card img{
  width: 100%;  
} */



/* .page-ending{
  background-color: #BFBFBF;
}
.page-ending h1{
  font-weight: 400;
  text-align: center;
  padding: 1rem 0 0;
}
.social-media-buttons{
  display: flex;
  flex-direction: row;
  padding: 0 20rem;
  justify-content: space-evenly;
}
.nav-footer ul{
  display: flex;
  flex-direction: row;
  padding: 0 20rem 2rem;
  justify-content: space-evenly;
} */


/* Iconos */
/* .fa{
  padding: 20px;
  text-decoration: none;
} */


/*I make the mobile design first */



